
.timer-wrapper
  .timer-wrapper__text До початку заходу:

  .timer
    .timer__block
      .timer__top
        .timer__el.days 0
        .timer__el.days 0
      span.timer__text днiв
    .timer__dots
      .timer__dot
      .timer__dot
    .timer__block
      .timer__top
        .timer__el.hours 0
        .timer__el.hours 0
      span.timer__text годин
    .timer__dots
      .timer__dot
      .timer__dot
    .timer__block
      .timer__top
        .timer__el.minutes 0
        .timer__el.minutes 0
      span.timer__text хвилин

